Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3590/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3590/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3590/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnergyCAPService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildings" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMetersForBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetersForBuilding" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMetersForBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetersForBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBillsForMeter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillsForMeter" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBillsForMeter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillsForMeterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildingName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuildingName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeterName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeterName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeterName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeterNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBuildingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuildingDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBuildingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuildingDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuildings" message="tns:IService1_GetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuildingsResponse" message="tns:IService1_GetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetersForBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMetersForBuilding" message="tns:IService1_GetMetersForBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMetersForBuildingResponse" message="tns:IService1_GetMetersForBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillsForMeter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBillsForMeter" message="tns:IService1_GetBillsForMeter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBillsForMeterResponse" message="tns:IService1_GetBillsForMeter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuildingDetails" message="tns:IService1_GetBuildingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuildingDetailsResponse" message="tns:IService1_GetBuildingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuildingName" message="tns:IService1_GetBuildingName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuildingNameResponse" message="tns:IService1_GetBuildingName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeterName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMeterName" message="tns:IService1_GetMeterName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMeterNameResponse" message="tns:IService1_GetMeterName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBuildingDetails" message="tns:IService1_UpdateBuildingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBuildingDetailsResponse" message="tns:IService1_UpdateBuildingDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildings">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetersForBuilding">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMetersForBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillsForMeter">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBillsForMeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuildingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuildingName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeterName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMeterName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildingDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBuildingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3590/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>