Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnergyCAPService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnergyCAPService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilding" nillable="true" type="tns:ArrayOfBuilding" />
  <xs:complexType name="Building">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
</xs:schema>